@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  background-color: #26262e;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
    font-family: 'lcSac';
    src: url("../public/fonts/euclidSemibold.ttf");
}
@font-face {
    font-family: 'euclidRegular';
    src: url("../fonts/euclidRegular.ttf");
}
@font-face {
    font-family: 'euclidMedium';
    src: url("../fonts/euclidMedium.ttf");
}
@font-face {
    font-family: 'euclidSemibold';
    src: url("../fonts/euclidSemibold.ttf");
}